[submodule "vendor/argparse"]
	path = vendor/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "vendor/frugally-deep"]
	path = vendor/frugally-deep
	url = https://github.com/Dobiasd/frugally-deep.git
[submodule "vendor/eigen"]
	path = vendor/eigen
	url = https://gitlab.com/libeigen/eigen.git
